<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%level] %t %c:%M:%L - %m%n</pattern>
    </encoder>
  </appender>

  <!--
  <logger name="ru.ajana.claim.web.http.filter" level="INFO">
    <appender-ref ref="STDOUT"/>
  </logger>
  -->
  <logger name="org.springframework" level="WARN">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>